#!/usr/bin/make -f

lib := \$${prefix}/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --parallel --autodest

override_dh_auto_configure:
	dh_auto_configure -- \
		--libdir=$(lib) \
		--dynlibdir=$(lib) \
		--libexecdir=\$${prefix}/lib/s6-rc \
		--with-dynlib=$(lib) \
		--with-sysdeps=$(lib)/skalibs/sysdeps \
		--enable-shared \
		--disable-allstatic

